# 屏蔽一些无关大文件
*.pdf
*.pptx
*.mov
*.mp4
*.epub
*.Lnk
*.zip
*.ipch
*.db
*.exe
*.ilk

# 预训练模型，这块后面可能会用LFS来维护
*.dnn

# 屏蔽一些未完成的内容
go_docker_data/
quant/
我的思考与方法论/
无人机素材/
现代C语言/
心理调剂/
自动话机器学习/
智能算法的机理/
生活优化/
理财/
大数据workflow/
动漫素材/
C++的强大/社区实践/